.WatchVideo{
    margin: 20px 20px;
}
.owner{
    display: flex;
    align-items: center;
    margin: 15px 0px;
}
.infoBox{
    margin: 10px 20px;
    font-family: 'Yaldevi', sans-serif;
}
.info{
   
}

.video{
    position: relative !important;
    padding-top: 56.25% !important /* Player ratio: 100 / (1280 / 720) */
}

.reactPlayer {
    position: absolute !important;
    margin-left: 20px;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
  }

.description{
    margin:30px 20px;
    font-family: 'Segoe UI', sans-serif;;
}